.details{
    padding: 30px 150px;
    text-align: center;

}
.ourservices{
    color: #2F937B;
    text-align: center;  
}
#line{
    border-color: black;
    width: 60px;

}
@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal {
  text-align: center;
}
.txt:hover {
    text-decoration: underline;
}
